.contMain{
    background: #FFFFFE;
    background-image: url("img/tea-te3.png");
    background-size: cover;
    display: flex;
}
.titQuien{
    text-decoration:none;
    font-size:75px;
    vertical-align: text-bottom;
}

/* .contMapa {
    position: relative;
    padding-bottom: 400px; 
    height: 0;
    overflow: hidden;
  }
  .contMapa iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% 
  } */

.contMain h1{
    text-align: justify;
    margin: 10px;
    line-height: 2;
}

.contMain p{
    text-align: justify;
    margin: 10px;
    line-height: 2;
}